<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title th:text="${title}">用户列表</title>
</head>
<body>
    <table border="1">
        <tr th:if="${userList.size()} eq 0">
            <td> 没有用户信息</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>密码</td>
        </tr>

        <tr th:each="user:${userList}">
            <td><a th:href="@{'/user/'+${user.userId}}" th:text="${user.username}">userName</a></td>
            <td th:text="${user.password}">password</td>
            <td th:text="${user.phone}">phone</td>
        </tr>
    </table>
</body>
</html>