<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>小米6立即购买-小米商城</title>
		<link rel="stylesheet" type="text/css" href="../../static/users/css/style.css"
			  th:href="@{/users/css/style.css}">
	</head>
	<header>
		<div class="top center">
			<div class="right fr">
				<div class="gouwuche fr"><a>购物车</a></div>
				<div class="fr">
					<ul sec:authorize="isAnonymous()">
						<li><a th:href="@{/login}" target="_blank">登录</a></li>
						<li>|</li>
						<li><a th:href="@{/toRegister}" target="_blank" >注册</a></li>
					</ul>
					<ul sec:authorize="isAuthenticated()">
						<li><a th:text="${user.username}">username</a> </li>
						<li>
							<form action="/logout" th:action="@{/logout}" method="post">
								<button type="submit">退出登录</button>
							</form>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<!--类型列表-->
	<div class="banner_x center">
		<div class="nav fl">
			<ul >
				<li><a th:href="@{'/product/allProduct?orderbyname=price'}">全部商品</a></li>
			</ul>
		</div>
		<div class="nav fl">
			<ul >
				<li th:each="category:${categoryList}">
					<a th:href="@{'/product/findKindProduct?kind='+${category.categoryId}+'&orderbyname=price'}" th:text="${category.name}">全部商品类型</a>
				</li>
			</ul>
		</div>


		<!--搜索框	-->
		<div class="search fr">
			<form action="/product/findProduct" method="post">
				<div class="text fl">
					<input  type="text" class="shuru" name="name" placeholder="请输入商品名">
				</div>
				<div class="submit fl">
					<input type="submit" class="sousuo" value="搜索"/>
				</div>
				<div class="clear"></div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
<!-- 顶部页面结束-->

	<input id="danjia" type="hidden" th:value="${productInfo.price}"/>
	<input id="id" type="hidden" th:value="${productInfo.productId}"/>
	<!-- xiangqing -->
	<form action="post" method="">
		<div class="jieshao mt20 w">
			<div class="left fl"><img th:src="${productInfo.image}"></div>
			<div class="right fr">
				<div class="h3 ml20 mt20" th:text="${productInfo.productName}">名称</div>
				<div class="ft10 ml20 mt20" th:text="${productInfo.remarks}">描述</div>
				<div class="ft20 ml20 mt20 ftbc" th:text="${productInfo.price}">单价</div>
				<div class="xqxq ml20 mt21">
					<div class="top1 mt10">
						<div class="left1 fl">
							<ul>
								<li class="left1 fl"><input type="text" id="vl" value="-" style="width: 10px;height: 30px;" onclick="numberdown()"/></li>
								<li class="left1 fl"><input type="text" style="width: 40px;height: 30px;" id="num" value="1" readonly="readonly"/></li>
								<li class="left1 fl"><input type="text" id="" value="+" style="width: 10px;height: 30px;" readonly="readonly" onclick="numberup()"/></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="bot mt20 ft20 ftbc">总计:
						<input id="zongji" disabled type="text" th:value="${productInfo.price}" style="border-style:none;font-size:25px;color: #ff6700;background-color:transparent" />
					</div>
				</div>
				<div class="xiadan ml20 mt20">
					<input class="jrgwc" onclick="zhijiegoumai()"  type="button" value="立即选购" />
					<input class="jrgwc" onclick="gouwuche()" type="button"  value="加入购物车" />
				</div>
			</div>

		</div>
			<div class="clear"></div>
		</div>
	</form>

	<footer class="mt20 center">
		<div class="mt20">哈哈商城|HAHA|哈聊|哈哈书城|哈哈路由器|哈哈天猫店|哈哈淘宝直营店|哈哈移动|隐私政策|</div>
		<div>©ha.com *ICP证******号 *ICP备********号 *公网安备**********号 *网文[201*]00**-0***号</div>
		<div>违法和不良信息举报电话：188-3201-****，本网站所列数据，除特殊说明，所有数据均出自我CDIO第一组测试</div>
	</footer>




	<script>
		function numberdown() {
			var num = document.getElementById("num");		//获取商品数量
            var danjia = document.getElementById("danjia");	//获取商品单价
			if(num.value > 1){
			    num.value = num.value*1-1;
			}
			else {
			    alert("数量不能为0");
			}
            zongji.value= (num.value*1)*(danjia.value*1);
        }
        function numberup() {
			var num = document.getElementById("num");		//获取商品数量
            var danjia = document.getElementById("danjia");	//获取商品单价
			num.value=num.value*1+1;
            zongji.value= (num.value*1)*(danjia.value*1);

        }
        function zhijiegoumai() {
			var ID = document.getElementById("id");						//商品ID
			var price = document.getElementById("danjia");				//商品单价
			var num = document.getElementById("num");					//商品数量
			//location.href="{'        ?  =ID'+'&   =price'+'&   =num'}"
        }

        function gouwuche() {
            var ID = document.getElementById("id");						//商品ID
            var price = document.getElementById("danjia");				//商品单价
            var num = document.getElementById("num");					//商品数量
            location.href="/cart/insert?productId="+ID;
        }
	</script>
	</body>
</html>